﻿<!--
    Exercice 2.1 - Gustavo Fabrizio
-->
<!DOCTYPE html>
<html>
<head>
    <title>Exercice 2.1</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="header">
        <h2>Header</h2>
    </div>

    <div class="container">
        <div class="leftmenu">
            <h2>Left Menu</h2>
        </div>

        <div class="placeholder">
            <h2>Placeholder</h2>
        </div>

        <div class="rightbar">
            <h2>Right Bar</h2>
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>
</html>