﻿@model Exercice_1.Models.OrderViewModel

    <table border="1">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
        @foreach (var Product in Model.Products)
        {
            <tr>
                <td>@Product.Name</td>
                <td>@Product.Price</td>
            </tr>
        }

        <tr>
            <td><b>Discount</b></td>
            <td><b>@Model.Discount</b></td>
        </tr>

        <tr>
            <td><b>Total</b></td>
            <td><b>@(Model.Total - Model.Discount)</b></td>
        </tr>
    </table>