﻿@model MVCEF.ViewModels.EmployeeAddViewModel
@*
    //For more information on enabling MVC for empty projects,  visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <form asp-controller="Employee" asp-action="Index" onsubmit="return validateForm">
        <table>
            <tr>
                <td><label asp-for="Name"></label></td>
                <td><input asp-for="Name" /></td>
                <td>
                    <span asp-validation-for="Name" style="color:red"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Designation"></label> </td>
                <td><input asp-for="Designation" /></td>
                <td>
                    <span asp-validation-for="Designation" style="color:red"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Salary"></label></td>
                <td><input asp-for="Salary"></td>
                <td>
                    <span id="validationSalary" asp-validation-for="Salary"
                          style="color:red"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="submitbutton"
                           value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>

<br /><br /> <br />

<b> List of employees:</b> <br />
<div>
    <table border="1">
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Designation </th>
            <th> Salary </th>
        </tr>
        @foreach (var employee in Model.EmployeesList)
        {
            <tr>
                <td>@employee.EmployeeId</td>
                <td>@employee.Name</td>
                <td>@employee.Designation</td>
                <td>@employee.Salary</td>
            </tr>
        }
    </table>
</div>
