﻿/*
  Exercice 2.1 - Gustavo Fabrizio
*/


body {
    border-style: solid;
    border-color: red;
    padding: 5px;
    width: 1023px;
}

h2 {
    font-family: Calibri;
    text-align: center;
    margin: auto;
}

.container {
    min-height: 600px;
}

.header {
    background-color: steelblue;
    height: 100px;
    color: white;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    display: flex;
    margin-bottom: 5px;
}

.leftmenu, .rightbar {
    background-image: linear-gradient(lightblue, steelblue);
    border-style: solid;
    border-width: 2px;
    border-color: steelblue;
    width: 250px;
    min-height: 596px;
    float: left;
    display: flex;
}


.placeholder {
    width: 505px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    background-image: linear-gradient(#dbf9ff, #6fe1f8);
    height: 100px;
    border-style: solid;
    border-color: #86bceb;
    border-width: 2px;
    margin-top: 5px;
    display: flex;
}