﻿div {
    font-family: Calibri;
}

.top {
    background-color: #a0b1f1;
    width: 590px;
    height: 190px;
}

.label {
    height: 30px;
    width: 150px;
}

.bottom {
    width: 590px;
    background-color: lightblue;
}

.headers {
    background-color: lightgreen;
}

.rows {
    background-color: #f5ceaa;
}

.submit {
    width: 150px;
    height: 30px;
    background-color: #4d8bdd;
    font-weight: bold;
    border-style: none;
    margin-top: 10px;
}

.lefttable {
    float: left;
    text-align: center;
}

.righttable {
    width: 200px;
    float: left;
    margin-left: 50px;
}

p {
    text-align: center;
}