﻿<!DOCTYPE html>

@model IEnumerable<ProductViewer.Models.Product>

@{ Layout = null; }

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Working with Visual Studio</title>

    <link rel="stylesheet" href="~/css/first.css" />
    <link rel="stylesheet" href="~/css/second.css" />
    
    <script src="~/js/fourth.js"></script>
</head>
<body>
    <h3>Products</h3>
    <p>Request Time: @DateTime.Now.ToString("HH:mm:ss")</p>
    <p><script src="~/js/third.js"></script></p>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>