﻿@{
    <html>
    <body>
        Employee Name: @Model.Name <br />
        Employee Designation: @Model.Designation <br />
        Company: @ViewBag.Company <br />
        Company Location: @ViewData["CompanyLocation"] <br />
    </body>
</html>
}