﻿div {
    font-family: Calibri;
    width: 1012px;
}

span {
    margin-left: 10px;
    float:left;
}

p {
    text-align: center;
}

div.top {
    background-color: #a0b1f1;
    height: 200px;
}

.submitButton {
    background-color: #4d8bdd;
    font-weight: bold;
    margin-top: 10px;
    width: 150px;
}

.dataTable {
    float: left;
    text-align: center;
    padding: 5px;
}

.dataTable input {
    border: none;
    height: 30px;
    width: 150px;
}

.borders {
    width: 150px;
    border: 1px solid #f5f2e9;
    box-shadow: 2px 2px 1px grey;
}

.infoTable {
    width: 200px;
    float: right;
    margin-top: 5px;
    margin-right: 25px;
    border: 1px solid #f5f2e9;
    box-shadow: 2px 2px 1px grey;
}

.employeeGrid {
    border-collapse: collapse;
    border: 1px solid black;
}

.employeeGrid th {
    background-color: #8cc190;
    width: 250px;
    height: 30px;
    font-size: x-large;
}

.employeeGrid td {
    background-color: #f5ceaa;
    height: 25px;
}