﻿@model Exercice_4_3.ViewModels.EmployeeAddViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Exercice 4.3</title>
    <link rel="stylesheet" href="~/css/ex43.css"/>
</head>

<body>
    <div class="top">
        @using (Html.BeginForm("Index", "Employee", FormMethod.Post))
        {
            <table class="lefttable">
                <tr>
                    <td class="label">@Html.LabelFor(Model => Model.NewEmployee.Name)</td>
                    <td class="label">@Html.TextBoxFor(Model => Model.NewEmployee.Name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(Model => Model.NewEmployee.Designation)</td>
                    <td>@Html.TextBoxFor(Model => Model.NewEmployee.Designation)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(Model => Model.NewEmployee.Salary)</td>
                    <td>@Html.TextBoxFor(Model => Model.NewEmployee.Salary)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" class="submit"/>
                    </td>
                </tr>
            </table>

            <table class="righttable">
                <tr>
                    <td>
                        <p>User will enter the new employee information in this form.</p>
                        <p>Once the information is saved to the database, it will be reflected in the below table</p>
                    </td>
                </tr>
            </table>
        }
    </div>

    <br /><br /><br />

    <div class="bottom">
        <table border="1">
            <tr class="headers">
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
            </tr>
            @foreach (var employee in Model.EmployeeList)
            {
                <tr class="rows">
                    <td>@employee.EmployeeID</td>
                    <td>@employee.Name</td>
                    <td>@employee.Designation</td>
                    <td>@employee.Salary</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>

