﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exercice 3.3</title>
</head>
<body>
    <header>
        <h1>Exercice 3.3</h1>
        @await Html.PartialAsync("_LoginPartial")
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <h2>Pied de page</h2>
    </footer>
</body>
</html>
