﻿<!--
    Exercice 2.1 - Gustavo Fabrizio
-->
<!DOCTYPE html>
<html>
<head>
    <title>Exercice 2.1</title>
    <link rel="stylesheet" href="~/css/first.css"/>
</head>

<body>
    <div class="header">
        <h2>Header</h2>
    </div>

    <div class="container">
        <div class="leftmenu">
            <h2>Left Menu</h2>
        </div>

        <div class="placeholder">
            <h1>Nombres premiers de 0 à 100</h1>
            @functions{
                public bool IsPrime(int n)
                {
                    if (n <= 1) return false;
                    if (n <= 3) return true;
                    if (n % 2 == 0 || n % 3 == 0) return false;

                    for (var i = 5; i * i <= n; i = i + 6)
                        if (n % i == 0 || n % (i + 2) == 0)
                            return false;
                    return true;
                }
            }
            <ul>
                @{
                    for (int i = 0; i <= 100; i++)
                    {
                        if (IsPrime(i))
                        {

                            <li>@i</li>
                        }
                    }
                }
            </ul>
        </div>

        <div class="rightbar">
            <h2>Right Bar</h2>
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>
</html>