﻿@model Exercice_4_3.ViewModels.EmployeeAddViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/js/script.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>Exercice 4.3</title>
    <link rel="stylesheet" href="~/css/ex43.css"/>
</head>

<body>
    <div class="top">
        <form id="idForm" asp-controller="Employee" asp-action="Index" onsubmit="return validate()">
            <table class="dataTable">
                <tr>
                    <td class="borders"><label asp-for="Name">Name</label></td>
                    <td class="borders"><input asp-for="Name" id="idName"/></td>
                    <td>
                        <text id="idError" style="color:darkred"></text>
                    </td>
                </tr>
                <tr>
                    <td class="borders"><label asp-for="Designation">Designation</label></td>
                    <td class="borders"><input asp-for="Designation" id="idDesignation"/></td>
                    <td>
                        <!--<span asp-validation-for="Designation" style="color:darkred"></span>-->
                        <span id="idError" style="color:darkred"></span>
                    </td>
                </tr>
                <tr>
                    <td class="borders"><label asp-for="Salary">Salary</label></td>
                    <td class="borders"><input asp-for="Salary" id="idSalary"/></td>
                    <td>
                        <!--<span id="validationSalary" asp-validation-for="Salary" style="color:darkred"></span>-->
                        <span id="idError" style="color:darkred"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" class="submitButton" />
                    </td>
                </tr>
            </table>

            <table class="infoTable">
                <tr>
                    <td>
                        <p>User will enter the new employee information in this form.</p>
                        <p>Once the information is saved to the database, it will be reflected in the below table</p>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <br /><br /><br />

    <div>
        <table border="1" class="employeeGrid">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
            </tr>
            @foreach (var employee in Model.EmployeeList)
            {
                <tr>
                    <td>@employee.EmployeeID</td>
                    <td>@employee.Name</td>
                    <td>@employee.Designation</td>
                    <td>@employee.Salary</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>

